@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-50: theme('colors.brand-primary.50');
    --color-primary-100: theme('colors.brand-primary.100');
    --color-primary-200: theme('colors.brand-primary.200');
    --color-primary-300: theme('colors.brand-primary.300');
    --color-primary-400: theme('colors.brand-primary.400');
    --color-primary-500: theme('colors.brand-primary.500');
    --color-primary-600: theme('colors.brand-primary.600');
    --color-primary-700: theme('colors.brand-primary.700');
    --color-primary-800: theme('colors.brand-primary.800');
    --color-primary-900: theme('colors.brand-primary.900');
    --color-primary-950: theme('colors.brand-primary.950');
    
    --color-bg-light: theme('colors.brand-bg.light');
    --color-bg-default: theme('colors.brand-bg.DEFAULT');
    --color-bg-dark: theme('colors.brand-bg.dark');

    --font-body: system-ui, sans-serif;
    --font-heading:  system-ui, sans-serif;
  }

  html {
    font-family: var(--font-body);
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
  }
}